// Colors
$color-background: #272727;
$color-person-white: #fff;
$color-person-gray: #f2f1f1;
$color-font-title: #272727;
$color-font-person-title: #ba3638;
$color-font-person-title-hover: #f2f1f1;
$color-font-person-subtitle: #909090;
$color-font-person-subtitle-hover: #330d0e;
