.ranking-header {
    margin-top: 125px;
    &-wrapper {
        position: relative;
    }

    .header {
        &-title {
            text-align: center;
            padding-left: 50px;
            font-weight: bolder;
            font-size: $font-size-big;
        }

        &-logo {
            &-image {
                width: 200px;
                height: 200px;
                display: block;
                position: absolute;
                left: -75px;
                top: -145px;
            }
        }
    }
}