.ranking-list {
    &-person {
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        position: relative;
        width: 100%;
        
        .person-image, .person-info {
            display: inline-block;
        }

        .person-image {
            width: 96px;
            height: 96px;
            position: relative;
            
            &-container {
                border-radius: 100%;
                border: 5px solid $color-person-hover;
                background-size: cover;
                background-position: 40% 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }

            &-index {
                color: $color-font-person-subtitle;
                position: absolute;
                bottom: 0;
                right: 5px;
                background-color: #fff;
                border-radius: 100%;
                border: 2px solid $color-font-person-subtitle;
                z-index: 1;
                display: block;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 22px;
                font-size: $font-size-index;
            }
        }

        .person-info {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 2rem;

            &-name {
                color: $color-font-person-title;
                font-size: $font-size-regular;
            }
            
            &-description {
                color: $color-font-person-subtitle;
                font-size: $font-size-small;
            }
        }

        .person-tooltip {
            left: 100%;
            position: absolute;
            top: calc(50% - 25px);
            display: none;
            padding-left: 10px;
            box-sizing: border-box;
            
            &::before {
                content: "";
                display: block;
                position: absolute;
                transform: rotateZ(45deg);
                background-color: $color-person-white;
                top: 50%; //calc(50% - 7.5px);
                left: 5px;
                width: 15px;
                height: 15px;
            }

            .tooltip-baloon {
                background-color: $color-person-white;
                width: 200px;
                position: relative;
                border-radius: 10px;
                display: flex;
                overflow: hidden;


                &-data {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;

                    &-positive, &-negative {
                        width: 50%;
                    }

                    &-positive {
                        border-right: 1px solid $color-background;
                    }

                    .baloon-data {
                        text-align: center;
                        font-weight: bold;
                        
                        &-header {
                            padding: 5px;
                            background-color: $color-person-hover;
                            color: $color-font-person-title-hover;
                            font-size: $font-size-tiny;
                        }
                        
                        &-content {
                            padding: 10px;
                            color: $color-font-person-subtitle;
                            font-size: $font-size-large;
                        }
                    }
                }
            }
        }

        &:nth-child(odd) {
            background-color: $color-person-gray;
        }
        &:nth-child(even) {
            background-color: $color-person-white;
        }

        &:hover {
            background-color: $color-person-hover;

            .person-image {
                border-color: $color-person-white;
            }
            .person-info {
                &-name {
                    color: $color-font-person-title-hover;
                }
                
                &-description {
                    color: $color-font-person-subtitle-hover;
                }
            }
            .person-tooltip {
                display: block;
            }
        }

    }
}