// Colors
$color-background: #272727;
$color-person-white: #fff;
$color-person-gray: #f2f1f1;
$color-person-hover: #ba3638;
$color-font-title: #272727;
$color-font-person-title: #ba3638;
$color-font-person-title-hover: #f2f1f1;
$color-font-person-subtitle: #909090;
$color-font-person-subtitle-hover: #330d0e;

// Font sizes
$font-size-tiny: 10px;
$font-size-small: 12px;
$font-size-index: 14px;
$font-size-regular: 18px;
$font-size-large: 24px;
$font-size-big: 30px;

// Screen sizes
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
