<!doctype html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="ranking ranking-wrapper">
            <main class="ranking ranking-container">
                <header class="ranking ranking-header">
                    {{> partials/header}}
                </header>
                <ul class="ranking ranking-list">
                </ul>
            </main>
        </div>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext" rel="stylesheet">
    </body>

</html>